.whole{
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;

}
html, body {
    height: 100%;
    margin: 0;
  }
  
  .whole {
    height: 100%;
    background: yellow;
  }
button{
margin: auto;


    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:flex;
    font-size: 16px;
    margin: auto;
    
    cursor: pointer;
}
.button5 {background-color: #555555;} /* Black */
body{
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}